<!DOCTYPE html>
<html lang="{{ i18next.language }}">
<head>
  <title>Digital Solutions for Smart Projects</title>
  <link rel="stylesheet" href="/css/main.css">
  <script src="/js/translation.js" type="module"></script>
</head>
<body>
    <div class="lang-switcher">
      <button onclick="switchLanguage('en')" class="px-3 py-1 rounded-lg" data-lang="en">EN</button>
      <button onclick="switchLanguage('fr')" class="px-3 py-1 rounded-lg" data-lang="fr">FR</button>
    </div>
    {% block content %}{% endblock %}
</body>
</html>
